@tailwind base;
@tailwind components;
@tailwind utilities;

.app-drag {
  user-select: none;
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

a.active {
  color: theme("colors.blue.500");
}
